DATABASE_URL=mysql+pymysql://root:@127.0.0.1:3306/retraite_db
SECRET_KEY=change-me-to-a-random-secret
ACCESS_TOKEN_EXPIRE_MINUTES=120
RESERVATION_AMOUNT=5000000

DEV_EMAIL=ton.email@exemple.com
DEV_PASSWORD=ChangeMoi123!

ADMIN_EMAIL=ecoretraite@gmail.com
ADMIN_PASSWORD=ChangeMoi123!
